@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {  
  .ringOne img {
    animation: rotateRing 2s linear infinite
  }
  
  .ringTwo img {
    animation: rotateRing 8s linear infinite
  }

  .ringThree img {
    animation: rotateRing 4s linear infinite
  }

  @keyframes rotateRing {
    from{
      transform : rotate(0deg);
    }
    to {
      transform: rotate(360deg)
    }
  }
}